.hidden {
    display:none;
}

#greeting{
    text-align: center;

}

#weather{
    text-align: center;

}

#clock{
    text-align: center;

}

#todo-form{
    text-align: center;

}

#todo-list{
    text-align: center;

}

body{
    background-size: cover;
}

.no_dot {

    list-style-type: none;

  }

  button{
    background-color:transparent;
    border :none;
  }